.*.swp
/SAVE
/buffer.dat
/config.cfg
/maps/
/mapssrc/autosave
/voice_ban.dt
mapssrc/*.b0
mapssrc/*.b1
mapssrc/*.b2
mapssrc/*.b3
mapssrc/*.err
mapssrc/*.hsz
mapssrc/*.log
mapssrc/*.p0
mapssrc/*.p1
mapssrc/*.p2
mapssrc/*.p3
mapssrc/*.pln
mapssrc/*.bsp
mapssrc/*.wa_
mapssrc/*.ext
mapssrc/*.prt
