# Assets generated at compile-time.
/sprites
/wasm
/maps
/sound
/delta.lst

# Misc build artefacts
*.dbg
*.o
*.so
.*.swp
/*.zip
/.tup
/mapssrc/autosave
/wasmsrc/lib
/criticaldynamics.wad

# Generated at runtime
/SAVE
/buffer.dat
/config.cfg
/demoheader.dmf
/user.scr
/userconfig.cfg
/voice_ban.dt
/*.tga
